/* General */
* {
    box-sizing: border-box;
}

html {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 15px;
}

body {
    background-color: #4C92B4;
}

.container {
    margin: 8px;
}

.panel {
    padding: 8px;
}

.container:before,
.container:after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
#header-img {
    padding: 35px 50px;
    height: 200px;
    background-image: url("../img/header.jpg");
    background-repeat: repeat-x;
}

#header-img .main-title {
    font-size: 32px;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 15px;
}

@media screen and (max-width: 600px) {
    #header-img .main-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    #header-img .main-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    #header-img .main-title {
        font-size: 24px;
    }
}

/* Menu bar*/
.menu-bar {
    overflow: hidden;
    background-color: #115779;
}

.menu-bar .menu-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 18px;
}

.menu-bar .menu-item:hover {
    background-color: #5FA5C7;
    color: white;
}

.menu-item.active-menu-item {
    background-color: #4C92B4;
    color: white;
}

.menu-bar .icon {
    display: none;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 18px;
}

.menu-bar .search-container {
    float: right;
}

.menu-bar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.menu-bar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .menu-bar a:not(:first-child) {
        display: none;
    }
    .menu-bar .search-container {
        float: none;
        display: none;
    }
    .menu-bar a.icon {
        float: right;
        display: block;
    }
    .menu-bar.responsive {
        position: relative;
    }
    .menu-bar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu-bar.responsive .search-container {
        display: block;
    }
    .menu-bar.responsive .menu-item,
    .menu-bar input[type=text],
    .menu-bar .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
}

/* Sidebar & sidebar panels*/
.sidebar-panel {
    color: white;
    border: 2px solid #115779;
}

.sidebar-panel header {
    background-color: #115779;
}

#login-panel a:link,
#login-panel a:visited {
    color: white;
}

/* Footer*/
footer {
    color: rgba(255, 255, 255, 0.8);
    padding-left: 15px;
    background-color: #115779;
}

footer a:link,
footer a:visited {
    color: white;
}

/* Responsive layout */
.col {
    float: left;
    width: 100%;
}

.col.xs1 { width: 8.33%; }
.col.xs2 { width: 16.66%; }
.col.xs3 { width: 25%; }
.col.xs4 { width: 33.33%; }
.col.xs5 { width: 41.66%; }
.col.xs6 { width: 50%; }
.col.xs7 { width: 58.33%; }
.col.xs8 { width: 66.66%; }
.col.xs9 { width: 75%; }
.col.xs10 { width: 83.33%; }
.col.xs11 { width: 91.66%; }
.col.xs12 { width: 100%; }

@media only screen and (min-width: 600px) {
    .col.s1 { width: 8.33%; }
    .col.s2 { width: 16.66%; }
    .col.s3 { width: 25%; }
    .col.s4 { width: 33.33%; }
    .col.s5 { width: 41.66%; }
    .col.s6 { width: 50%; }
    .col.s7 { width: 58.33%; }
    .col.s8 { width: 66.66%; }
    .col.s9 { width: 75%; }
    .col.s10 { width: 83.33%; }
    .col.s11 { width: 91.66%; }
    .col.s12 { width: 100%; }
}

@media only screen and (min-width: 900px) {
    .col.m1 { width: 8.33%; }
    .col.m2 { width: 16.66%; }
    .col.m3 { width: 25%; }
    .col.m4 { width: 33.33%; }
    .col.m5 { width: 41.66%; }
    .col.m6 { width: 50%; }
    .col.m7 { width: 58.33%; }
    .col.m8 { width: 66.66%; }
    .col.m9 { width: 75%; }
    .col.m10 { width: 83.33%; }
    .col.m11 { width: 91.66%; }
    .col.m12 { width: 100%; }
}

@media only screen and (min-width: 1200px) {
    .col.l1 { width: 8.33%; }
    .col.l2 { width: 16.66%; }
    .col.l3 { width: 25%; }
    .col.l4 { width: 33.33%; }
    .col.l5 { width: 41.66%; }
    .col.l6 { width: 50%; }
    .col.l7 { width: 58.33%; }
    .col.l8 { width: 66.66%; }
    .col.l9 { width: 75%; }
    .col.l10 { width: 83.33%; }
    .col.l11 { width: 91.66%; }
    .col.l12 { width: 100%; }
}

@media only screen and (min-width: 1600px) {
    .col.xl1 { width: 8.33%; }
    .col.xl2 { width: 16.66%; }
    .col.xl3 { width: 25%; }
    .col.xl4 { width: 33.33%; }
    .col.xl5 { width: 41.66%; }
    .col.xl6 { width: 50%; }
    .col.xl7 { width: 58.33%; }
    .col.xl8 { width: 66.66%; }
    .col.xl9 { width: 75%; }
    .col.xl10 { width: 83.33%; }
    .col.xl11 { width: 91.66%; }
    .col.xl12 { width: 100%; }
}

