.white {
    color: white;
}

.hidden {
    display: none;
}

.error {
    color: white;
    background-color: #F44336;
    margin: 15px;
    padding: 1px 8px 1px 8px;
}

.register {
    margin: 15px;
}

.left-margin {
    margin-left: 15px;
}

.register input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.register input[type=password] {
    font-size: 16px;
}

.register input[type=submit] {
    background-color: #115779;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register input[type=submit]:hover {
    background-color: #5FA5C7;
}
